# Python cache
__pycache__/*.pyc
model/evaluate/__pycache__/*.pyc
model/Dashboard/__pycache__/*.pyc
data_snalysis/__pycache__/*.pyc
data_analysis/src/__pycache__/*.pyc
# Data / archives
*.zip
data_bdd/

#outputs
analysis_output/
anomaly_output/
evaluate_output/
shared_output/
archives/
vemv/
bdd_objects.parquet
processed_objects.parquet
cmds.txt
runs/
model/*.pt
yolo_converted/
archives/


