# Python cache
__pycache__/*.pyc
model/evaluate/__pycache__/*.pyc
model/Dashboard/__pycache__/*.pyc
data_snalysis/__pycache__/*.pyc
data_analysis/src/__pycache__/*.pyc

# Data / archives
*.zip
data_bdd/

#outputs
outputs/analysis_output/
outputs/anomaly_output/
outputs/evaluate_output/
outputs/shared_output/
outputs/runs

archives/

cmds.txt
model/*.pt
archives/
vemv/


