version: "3.9"

services:
  data_analysis:
    build:
      context: ./data_analysis
      dockerfile: data_analysis/Dockerfile
    container_name: bdd-analysis
    volumes:
      - data_bdd:/data
      - ./shared_output:/output
    ports:
      - "8500:8501"
    command: >
      streamlit run model/src/dashboard.py
      --server.port=8501
      --server.address=0.0.0.0

  model_evaluation:
    build:
      context: ./model_evaluation
      dockerfile: model/Dockerfile
    container_name: bdd_model_eval
    volumes:
      - data_bdd:/data
      - ./shared_output:/output
    ports:
      - "8501:8501"
      - "5151:5151"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
